:root {
  --yellow: linear-gradient(90deg, #f90 0%, #f2cb00 100%);
  --black: #16205f;
  --padding_lr: 10px 240px;
}

h1 {
  color: var(--black, #16205f);
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 78px; /* 121.875% */
}

h2 {
  color: var(--black, #16205f);
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px; /* 126.087% */
  /* margin: 0px; */
}

h3 {
  color: var(--black, #16205f);
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 128.571% */
}

h4 {
  color: var(--black, #16205f);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}

p  {
  color: var(--black, #16205f);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.p1 {
  color: var(--black, #16205f);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 8px;
  background: var(--yellow, linear-gradient(90deg, #f90 0%, #f2cb00 100%));
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.12);
}
.button2 {
  border: none;
  /* color: white; */
  background-color: transparent;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 14px; */
  /* margin: 20px 2px; */
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
  align-items: center;
  text-align: center;
border: 2px solid var(--dark, #16205F);
/* box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.12); */

}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.card-icon-title {
  margin-left: 20px;
  color: #16205f;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

footer {
  padding: var(--padding_lr);
}



.row{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  clear: both;
}



.col-3 {
  width: 33.3%;
  float: left;
}

.col-4 {
  width: 20%;
  float: left;
  /* padding: 15px; */
  /* border: 1px solid; */
}

.col-4 li,
p {
  color: var(--black, #16205f);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.col-4 li {
  list-style: none;
  padding: 5px;
}


.navbar {
  background-color: white;
}

header {
  background-color: white;
}

header .wrapper .col-4 {
  width: 25%;
}
header .wrapper {
  padding: var(--padding_lr); 
  display: flex;
  justify-content: space-between;
  border-bottom: 0.2px solid rgb(156, 154, 154);
  align-items: center;
  /* padding: 10px 20px 10px 20px; */
}
header .wrapper img{
  height: 60px;
  width: 70%;
}

header .wrapper .navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header .wrapper .navbar ul li {
  float: left;
  /* padding-left: 10px; */
  display: flex;
  align-items: center;
}
header .wrapper .navbar ul li img{
  height: 20px;
  width: 20px;
  color: #16205F;
}

header .wrapper .navbar ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 9px 10px;
  text-decoration: none;
}

.landing .container {
  /* border: 1px solid; */
  height: 80vh;
  align-items: center;
  padding: 10px 180px;
}
.landing .container .backImage {
  position: relative;
  background: url(asset/landingimage.png);
  /* background-size: contain; */
  background-repeat: none;
  background-origin: content-box;
  float: right;
  height: 500px;
  width: 700px;
  /* border: 1px solid; */
  border-radius: 0px 20px 0px 100px;
  flex-shrink: 0;
}

.landing .container .content {
  position: relative;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px 0px 0px 50px;
  /* width: auto; */
  height: 384px;
  width: 500px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0px 100px 0px 0px;
  /* border: 1px solid; */
}

.landing .container .content h2 {
  color: var(--black, #16205f);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.landing .container .content a {
  border-radius: 8px;
  background: var(--yellow, linear-gradient(90deg, #f90 0%, #f2cb00 100%));
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.12);
}

/* section structure design */

.ctn-center-align {
  padding: var(--padding_lr);
  align-items: center;
  text-align: center;
  margin: 70px 10px;
}

.ctn-left-align {
  margin: 70px 10px;
  padding: var(--padding_lr);
  align-items: center;
  text-align: left;
}

.simpletext-center h4 {
  margin: 10px 0;
  color: white;
}

.simpletext-center h2 {
  margin: 0;
}

.simpletex-centert p {
  margin: 9px 0;
}

.simpletext-center {
  /* border: 1px solid; */
  padding: 20px 50px 0px 50px;
}

.simpletext-left {
  /* border: 1px solid; */
  width: 50%;
  padding: 20px 0px;
}

.simpletext-left h4 {
  margin: 10px 0;
  /* color: white; */
  color: var(--black, #16205f);
}

.simpletext-left h2 {
  color: var(--black, #16205f);
}

.simpletext-left p {
  margin: 9px 0;
  width: 70%;
}

/* solution section of the page  */

.solution {
  height: 40vh;
  /* border: 1px solid red; */
  padding: var(--padding_lr);
}
.solution .wrapper {
  display: flex;
  flex-direction: row;
  padding: 30px 0px;
}
.solution .wrapper .solutionbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}
.solution .wrapper .solutionbox img {
  height: 60px;
  width: 60px;
  margin-right: 30px;
}

/* how to start section  */

.howtostart {
  background: var(--yellow, linear-gradient(90deg, #f90 0%, #f2cb00 100%));
  /* Shadow */
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
  /* width: 1920px; */
  height: 590px;
  flex-shrink: 0;
}

.howtostart .container .big-icontext {
  display: flex;
  margin-top: 50px;
  align-content: space-around;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.howtostart .container .big-icontext img {
  width: 150px;
  height: 150px;
  /* flex-shrink: 0; */
}
.howtostart .container .big-icontext .text {
  display: flex;
  align-items: center;
  /* align-content: stretch; */
  /* justify-content: space-between; */
  padding: 0px;
}
.howtostart .container .big-icontext .text .proctext {
  color: #16205f;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin-left: 10px;
}

.expertise .container .small-icontext {
  display: flex;
  margin-top: 50px;
  align-content: space-around;
  align-items: left;
  flex-direction: row;
  justify-content: space-around;
}
.expertise .container .smallbig-icontext img {
  width: 150px;
  height: 150px;
  background-color: #f2cb00;
  /* flex-shrink: 0; */
}
.expertise .container .small-icontext .text {
  /* display: flex; */
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  padding: 0px;
}
.expertise .container .small-icontext .text .proctext {
  color: #16205f;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 128.571% */
  margin-left: 10px;
}

/* specialise sectiom */

.specialized .card-row {
  display: flex;
  justify-content: space-around;
}
.specialized .card-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.specialized .card-row .item {
  margin-left: 20px;
  border-left: 7px solid #f2cb00;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  background: #fff;
  padding: 15px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.specialized .card-row .item img {
  height: 42px;
  width: 42px;
}

.technology h4 {
  color: #16205f;
}
.technology .logo-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
.technology .logo-row img {
  height: auto;
  width: 15%;
}

.contact .container {
  /* border: 1px solid; */
  position: relative;
  height: 100vh;
  align-items: center;
  padding: 10px 150px;
  /* border: 1px solid; */
}
.contact .container .backImage {
  position: relative;
  background: url(asset/landingimage.png);
  /* background-size: contain; */
  background-repeat: none;
  background-origin: content-box;
  float: left;
  height: 100%;
  width: 700px;
  /* border: 1px solid; */
  border-radius: 0px 20px 0px 100px;
  flex-shrink: 0;
}

.myform {
  position: absolute;
  top: 10%;
  right: 240px;
  padding: 69px;
  /* transform: translate(-50%, -50%); */
  /* background-color: white;  */
  /* padding: 20px 0px 0px 50px; */
  /* width: auto; */
  height: 60%;
  width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px 0px 0px 0px;
  background: #fff; /* border: 1px solid; */
}
.myform h2 {
  font-size: larger;
}
.myform .f-two-row {
  display: flex;
  justify-content: space-around;
}
.myform .f-two-row .left {
  margin-left: 15px;
}
.myform .f-two-row .info-row .text-input {
  margin-bottom: 15px;
}

/* footer section  */

footer {
  /* border: 1px solid; */
  border-top: 0.5px solid var(--black) ;
  padding: 50px;
  align-items: center;
}

.logo-text {
  display: flex;
  /* justify-content: spa; */
}





/* this section of the CSS is more specific for the how it start section  */

.landing-image{
  height: 50vh;
  /* width: 100vh; */
  /* border: 1px solid ; */
  background-image: url("asset/landingimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  padding: 50px 0px;
}
.landing-image .landing-text{
  margin: 120px 0px;
  align-items: center;
  color: white;
  
}
.landing-image .landing-text h1 ,.landing-image .landing-text p{
  color: white;
  padding: 0px;
  margin: 10px;
}

.step .solution {
  height: auto;
}

.why-need .solution {
  height: 70vh;
}
.why-need .solution ul{
  /* list-style-type: ; */
}

.static-image {
  padding: var(--padding_lr);
  margin: 10px 0px 100px 0px;
  background-image: url(asset/landingimage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  position: relative;
}
.static-image .container{
  position: absolute;
  top: 30px;
  left: 100px;
  color: #fff;
}
.static-image .container h2{
  color: #FFF;
  font-family: Poppins;
  font-size: 96px;
  font-style: normal;
  font-weight: 275;
  line-height: 58px; /* 60.417% */
}

.static-image .container p{
  color: #FFF;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 36px; /* 128.571% */
}

.static-image .container h2 , .static-image .container p{
  color: #fff;
  padding: 0px;
  margin: 10px;
}


/* this section of the CSS is more specific for the Our Service section  */

.permanent{
  height: 100vh;
}

.permanent .wrapper{
  display: flex;
  flex-direction: column;
}
.permanent .wrapper .row{
  margin: 20px 0px;
}